* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2em;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70vw;
    padding: .75em;
    margin: .15em;
    color: white;
    border-radius: 5px;
}
select{
    margin: .25em;
    width: 200px;
    padding: .5em 1em;
    background-color: #000000;
    color: #f5f5f7;
}
h1{
    font-size: 2rem;
    padding: .75em;
}
h1, h2{
    align-self: center;
    color: white;
}
select{
    border-radius: 5px;
}
.submit{
    /* margin: 2em; */
    padding: 0.75em 0;
    border-style: none;
    border-radius: 5px;
}
.submit button:hover{
    cursor: pointer;
}
.submit button{
    padding: 1em;
    margin-right: 1em;
    border-style: none;
    border-radius: 5px;
    background-color: #0066CC;
    color: white;
}
#refresh{
    background-color: #828587;
}
.score{
    color: white;
}
